<html style="margin:0px;padding:0px;">
<head style="margin:0px;padding:0px;">
</head>
<body style="margin:0px;padding:0px;">
<table style="font-family: Arial; font-size: 13px; font-weight: bold; color: #555; width: 612px;border-collapse:collapse;">
	{% for row in rows %}
	<tr>
		<td style="padding:5px;width: 200px;border-bottom: 1px solid #CCCCCC;">{{ row.0  }}</td>
		<td style="padding:5px;width: 252px;border-bottom: 1px solid #CCCCCC;">{{ row.1 }}</td>
		<td style="padding:5px;padding:10px;text-align:right;border-bottom: 1px solid #CCCCCC;">{{ row.2 }}</td>
		<td style="padding:5px;text-align: right;border-bottom: 1px solid #CCCCCC;padding-right:20px;">&nbsp;</td>
	</tr>
	{% endfor %}
	<tr>
	</tr>
</table>

</body>
</html>
